@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>Assignment 6 - mhnguyen16</h1>
        <p>Music Biz is an ASP.NET web application that allows users to view lists of artists, albums and tracks. Users can also add new artists, add new albums to existing artists and add new tracks to existing albums. Besides, users are able to add sample clips to tracks or add media items for artists.</p>
        <p>All critical routes are protected and users will only be able to perform actions that they are authorized to.</p>
        <p><a href="https://mhnguyen16-wa-web524-a6.azurewebsites.net" class="btn btn-primary btn-lg">Assignment 6 on Azure &raquo;</a></p>
    </div>

